
body {
    background-image: url("../img/astronauta.jpg");
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-shadow: 3px 3px 2px black;
    padding: 20px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
} 


h1{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

h3{
    text-align: left;
    margin-top: 15px;
    font-size: 22px;
}

.container{
    
    display: flex;
    text-align: justify-all;
    margin-top: 10px;
    font-size: 16px;
    margin: 10px;

}

#photo{
    border-radius: 25%;
    width: 140px;
    margin-left: 50px;
}
#trophy, #drink, #music, #tags, #world{
    border-radius: 25%;
    width: 500px;
    height: 320px;
    margin-left: 120px;
}

#tabla-promedios{
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
}
td, th{
    border: 2px solid white;
    padding: 3px;
}
